# fish
.config/fish/config.private.fish
.config/fish/fishd.*

# .ssh
.ssh/known_hosts
.ssh/conf.d/hosts/certs/*
.ssh/conf.d/hosts/*.conf

# Karabiner-Elements https://karabiner-elements.pqrs.org
.config/karabiner/*

# cli/cli a.k.a. gh https://github.com/cli/cli
.config/gh/*

# backups
backups/*
